In [9]:
import pandas as pd
data_fn = "./data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)

In [28]:
df_price.head().append(df_price.tail())

                    datetime     open     high      low    close  volume
0        2014-06-27 00:47:00   6635.0   6635.0   6635.0   6635.0     1.0
1        2014-06-27 00:48:00   6630.0   6630.0   6625.0   6625.0    23.0
2        2014-06-27 00:50:00   6630.0   6630.0   6625.0   6625.0    44.0
3        2014-06-27 00:52:00   6630.0   6630.0   6630.0   6630.0     5.0
4        2014-06-27 00:55:00   6630.0   6630.0   6630.0   6630.0    12.0
1173478  2019-12-18 13:59:00  14270.0  14270.0  14265.0  14265.0   892.0
1173479  2019-12-18 14:00:00  14262.5  14262.5  14245.0  14250.0  1923.0
1173480  2019-12-18 14:01:00  14250.0  14255.0  14250.0  14255.0   348.0
1173481  2019-12-18 14:02:00  14252.5  14255.0  14247.5  14247.5   589.0
1173482  2019-12-18 14:03:00  14245.0  14252.5  14245.0  14247.5   334.0

In [39]:
close = df_price[['datetime', 'close']]

In [40]:
new_df = close.copy()
new_df.loc[:,'datetime'] = pd.to_datetime(new_df.datetime)

In [23]:
close.dtypes

datetime    datetime64[ns]
close              float64
dtype: object

In [41]:
new_df = new_df.set_index('datetime')['close']

In [42]:
df0 = closedf.index.searchsorted(closedf.index - pd.Timedelta(days=1))

In [44]:
df0 = df0[df0 > 0]

In [45]:
df0 = (pd.Series(new_df.index[df0 - 1], index=new_df.index[new_df.shape[0] - df0.shape[0]:]))

In [51]:
df0 = new_df.loc[df0.index] / new_df.loc[df0.values].values - 1

In [52]:
df0.head()

datetime
2014-06-28 00:49:00   -0.001509
2014-06-28 00:50:00   -0.000755
2014-06-28 00:51:00    0.000000
2014-06-28 00:52:00    0.000000
2014-06-28 00:53:00   -0.001508
Name: close, dtype: float64

In [54]:
df0 = df0.ewm(span=100).std()

In [55]:
df0.head()

datetime
2014-06-28 00:49:00         NaN
2014-06-28 00:50:00    0.000534
2014-06-28 00:51:00    0.000755
2014-06-28 00:52:00    0.000719
2014-06-28 00:53:00    0.000756
Name: close, dtype: float64

In [58]:
hh = df0.to_frame(name='vol')

In [59]:
hh.head()

                          vol
datetime
2014-06-28 00:49:00       NaN
2014-06-28 00:50:00  0.000534
2014-06-28 00:51:00  0.000755
2014-06-28 00:52:00  0.000719
2014-06-28 00:53:00  0.000756

In [ ]:
hh.reset_index()