## Ipython Notebooks for testing custombar

1. resample
2. daily vol counting
3. timezone chagne
4. filter

In [1]:
import sys
sys.path.append('E:\\git_folder\\quant_models')

In [2]:
from custombar import TickBar, VolBar, DollarBar
from custombar import Imbalance_Bar, Imbalance_Run_Bar

#### Data importing

In [3]:
import pandas as pd
data_fn = "././data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)

In [4]:
df_price.head().append(df_price.tail())

                    datetime     open     high      low    close  volume
0        2014-06-27 00:47:00   6635.0   6635.0   6635.0   6635.0     1.0
1        2014-06-27 00:48:00   6630.0   6630.0   6625.0   6625.0    23.0
2        2014-06-27 00:50:00   6630.0   6630.0   6625.0   6625.0    44.0
3        2014-06-27 00:52:00   6630.0   6630.0   6630.0   6630.0     5.0
4        2014-06-27 00:55:00   6630.0   6630.0   6630.0   6630.0    12.0
1173478  2019-12-18 13:59:00  14270.0  14270.0  14265.0  14265.0   892.0
1173479  2019-12-18 14:00:00  14262.5  14262.5  14245.0  14250.0  1923.0
1173480  2019-12-18 14:01:00  14250.0  14255.0  14250.0  14255.0   348.0
1173481  2019-12-18 14:02:00  14252.5  14255.0  14247.5  14247.5   589.0
1173482  2019-12-18 14:03:00  14245.0  14252.5  14245.0  14247.5   334.0

In [5]:
df_price.head()

              datetime    open    high     low   close  volume
0  2014-06-27 00:47:00  6635.0  6635.0  6635.0  6635.0     1.0
1  2014-06-27 00:48:00  6630.0  6630.0  6625.0  6625.0    23.0
2  2014-06-27 00:50:00  6630.0  6630.0  6625.0  6625.0    44.0
3  2014-06-27 00:52:00  6630.0  6630.0  6630.0  6630.0     5.0
4  2014-06-27 00:55:00  6630.0  6630.0  6630.0  6630.0    12.0

In [6]:
test_df = df_price.copy()
test_df.loc[:,'datetime'] = pd.to_datetime(test_df.datetime)
test_df.set_index('datetime', inplace=True)
test_df = test_df.loc[test_df.index > pd.to_datetime("2016-01-01"),:]

In [7]:
test_df.head()

                        open     high      low    close  volume
datetime
2016-01-04 17:00:00  10460.0  10485.0  10460.0  10470.0   443.0
2016-01-04 17:01:00  10472.5  10472.5  10467.5  10472.5   160.0
2016-01-04 17:02:00  10470.0  10470.0  10455.0  10460.0   242.0
2016-01-04 17:03:00  10457.5  10460.0  10435.0  10435.0   344.0
2016-01-04 17:04:00  10432.5  10450.0  10432.5  10435.0   497.0

In [8]:
colmap = {"open":"price"}

#### Testing the Volume Bar Function

In [9]:
volbar_model = VolBar(threshold=4000, dictcol=colmap)

In [10]:
vol_df = volbar_model.transform(test_df)

In [19]:
vol_df.head()

                        open     high      low    close  volume
datetime
2016-01-04 17:12:00  10412.5  10412.5  10367.5  10382.5  5356.0
2016-01-04 17:21:00  10382.5  10387.5  10352.5  10387.5  5978.0
2016-01-04 17:30:00  10387.5  10430.0  10380.0  10430.0  5858.0
2016-01-04 17:33:00  10430.0  10430.0  10417.5  10417.5  6190.0
2016-01-04 17:38:00  10417.5  10417.5  10355.0  10355.0  5449.0

In [12]:
t_vol = test_df['volume']

In [13]:
idx = [30,45,64, 105]

In [14]:
hh = test_df.iloc[idx,:]['close'].drop_duplicates()

In [17]:
hh.tail()

datetime
2016-01-04 17:30:00    10380.0
2016-01-04 17:45:00    10320.0
2016-01-04 18:04:00    10217.5
2016-01-04 18:45:00    10150.0
Name: close, dtype: float64