## Ipython Notebooks for testing custombar

1. TickBar, VolBar, DollarBar
2. Imbalance Bar
3. Imbalance Run Bar

In [1]:
import sys
sys.path.append('E:\\git_folder\\quant_models')

In [2]:
import talib

#### Data importing

In [3]:
import pandas as pd
data_fn = "././data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)

In [4]:
df_price.head().append(df_price.tail())

                    datetime     open     high      low    close  volume
0        2014-06-27 00:47:00   6635.0   6635.0   6635.0   6635.0     1.0
1        2014-06-27 00:48:00   6630.0   6630.0   6625.0   6625.0    23.0
2        2014-06-27 00:50:00   6630.0   6630.0   6625.0   6625.0    44.0
3        2014-06-27 00:52:00   6630.0   6630.0   6630.0   6630.0     5.0
4        2014-06-27 00:55:00   6630.0   6630.0   6630.0   6630.0    12.0
1173478  2019-12-18 13:59:00  14270.0  14270.0  14265.0  14265.0   892.0
1173479  2019-12-18 14:00:00  14262.5  14262.5  14245.0  14250.0  1923.0
1173480  2019-12-18 14:01:00  14250.0  14255.0  14250.0  14255.0   348.0
1173481  2019-12-18 14:02:00  14252.5  14255.0  14247.5  14247.5   589.0
1173482  2019-12-18 14:03:00  14245.0  14252.5  14245.0  14247.5   334.0

In [5]:
from ta_features.core import extract_tafea

In [6]:
test_df = df_price.copy()
test_df.loc[:,'datetime'] = pd.to_datetime(test_df.datetime)
test_df.set_index('datetime', inplace=True)
test_df = test_df.loc[test_df.index > pd.to_datetime("2018-01-01"),:]

In [7]:
test_df['symbol'] = 'test'

In [8]:
test_df.sort_values(by=['symbol'], inplace=True)
test_df.dropna(inplace=True)
df_fea = test_df.groupby('symbol').apply(extract_tafea)
print(df_fea.tail(2))

E:\git_folder\quant_models\ta_features\_ta_factors.py:437: RuntimeWarning: invalid value encountered in true_divide
  return np.divide(np.subtract(df.loc[:, self.map_dict['default']].values,avr),std)
                 MFI_000    MFI_001    MFI_002  MINUS_DI_000  MINUS_DI_001  \
symbol
test   536354  67.423927  63.164707  59.056190     13.134988     22.566850
       536355  72.402292  65.343387  60.607875      0.134797      0.846243

               MINUS_DI_002  PLUS_DI_000  PLUS_DI_001  PLUS_DI_002    RSI_000  \
symbol
test   536354     24.334239    21.735037    22.091535    22.330106  46.897977
       536355      1.602484    91.768413    90.065846    88.486262  97.000562

               ...  ZSCORE_001  ZSCORE_002  ZSCORE_003  NATR_000  NATR_001  \
symbol         ...
test   536354  ...   -0.241155   -1.022953   -0.275075  0.076876  0.082531
       536355  ...    3.741493    5.383585    7.675160  4.623692  1.584845

               NATR_002  NATR_003  NATR_004  NATR_005       BOP
symbol
test   536354  0.087111  0.087862  0.087087  0.086316  0.250000
       536355  0.979769  0.719601  0.523471  0.446840  0.333333

[2 rows x 41 columns]

In [9]:
hh = talib.OBV(test_df.close, test_df.volume)
# OBV removed

In [10]:
hh = talib.ADOSC(test_df.high, test_df.low, test_df.close, test_df.volume)

In [11]:
test_df.head()

                        open     high      low    close  volume symbol
datetime
2018-01-02 08:59:00  13250.0  13250.0  13245.0  13247.5   111.0   test
2019-04-29 16:25:00  13660.0  13660.0  13660.0  13660.0     1.0   test
2019-04-29 16:23:00  13657.5  13657.5  13657.5  13657.5     1.0   test
2019-04-29 16:22:00  13660.0  13660.0  13660.0  13660.0     6.0   test
2019-04-29 16:20:00  13657.5  13660.0  13657.5  13660.0    29.0   test

In [12]:
hh.tail(10)
# adosc removed

datetime
2018-09-10 15:37:00    236.768043
2018-09-10 15:36:00    269.499092
2018-09-10 15:35:00    204.616421
2018-09-10 15:34:00    190.017473
2018-09-10 15:33:00     62.407223
2018-09-10 15:32:00     -6.182475
2018-09-10 15:31:00     12.456510
2018-09-10 15:30:00    -17.323588
2018-09-10 15:28:00    -27.931484
2019-12-18 14:03:00    -65.156094
dtype: float64

In [13]:
real = talib.PLUS_DI(test_df.high, test_df.low, test_df.close, timeperiod=14)

In [14]:
help(talib.NATR)

Help on function NATR in module talib._ta_lib:

NATR(...)
    NATR(high, low, close[, timeperiod=?])

    Normalized Average True Range (Volatility Indicators)

    Inputs:
        prices: ['high', 'low', 'close']
    Parameters:
        timeperiod: 14
    Outputs:
        real

In [15]:
real = talib.SAREXT(test_df.high,test_df.low )

In [16]:
real = talib.HT_PHASOR(test_df.close)

In [17]:
real[1].head(3001)

datetime
2018-01-02 08:59:00          NaN
2019-04-29 16:25:00          NaN
2019-04-29 16:23:00          NaN
2019-04-29 16:22:00          NaN
2019-04-29 16:20:00          NaN
2019-04-29 16:19:00          NaN
2019-04-29 16:18:00          NaN
2019-04-29 16:16:00          NaN
2019-04-29 16:15:00          NaN
2019-04-29 16:14:00          NaN
2019-04-29 16:12:00          NaN
2019-04-29 16:11:00          NaN
2019-04-29 16:10:00          NaN
2019-04-29 16:07:00          NaN
2019-04-29 16:28:00          NaN
2019-04-29 16:05:00          NaN
2019-04-29 16:00:00          NaN
2019-04-29 15:58:00          NaN
2019-04-29 15:55:00          NaN
2019-04-29 15:54:00          NaN
2019-04-29 15:53:00          NaN
2019-04-29 15:52:00          NaN
2019-04-29 15:51:00          NaN
2019-04-29 15:49:00          NaN
2019-04-29 15:48:00          NaN
2019-04-29 15:46:00          NaN
2019-04-29 15:45:00          NaN
2019-04-29 15:44:00          NaN
2019-04-29 15:43:00          NaN
2019-04-29 16:03:00          NaN
                         ...
2019-05-01 20:25:00    -2.892550
2019-05-01 20:24:00    -3.007167
2019-05-01 20:23:00   -11.948810
2019-05-01 20:22:00   -13.396093
2019-05-01 21:04:00    -3.023784
2019-05-01 22:44:00     3.799340
2019-05-01 21:05:00     4.260786
2019-05-01 21:08:00    -9.685859
2019-05-01 21:37:00   -21.688112
2019-05-01 21:36:00   -49.495845
2019-05-01 21:35:00   -29.512974
2019-05-01 21:34:00    38.621208
2019-05-01 21:33:00    17.259353
2019-05-01 21:32:00   -12.332641
2019-05-01 21:31:00     6.138735
2019-05-01 21:30:00    12.250250
2019-05-01 21:29:00    19.794374
2019-05-01 21:28:00    20.974075
2019-05-01 21:27:00    19.307325
2019-05-01 21:26:00    19.508705
2019-05-01 21:25:00    13.042965
2019-05-01 21:24:00     8.524324
2019-05-01 21:23:00    -3.394520
2019-05-01 21:22:00   -11.694820
2019-05-01 21:21:00   -13.302623
2019-05-01 21:20:00   -18.864337
2019-05-01 21:19:00   -12.069256
2019-05-01 21:18:00     0.265999
2019-05-01 21:17:00     8.854890
2019-05-01 21:16:00    11.869631
Length: 3001, dtype: float64

In [18]:
test_df.head()

                        open     high      low    close  volume symbol
datetime
2018-01-02 08:59:00  13250.0  13250.0  13245.0  13247.5   111.0   test
2019-04-29 16:25:00  13660.0  13660.0  13660.0  13660.0     1.0   test
2019-04-29 16:23:00  13657.5  13657.5  13657.5  13657.5     1.0   test
2019-04-29 16:22:00  13660.0  13660.0  13660.0  13660.0     6.0   test
2019-04-29 16:20:00  13657.5  13660.0  13657.5  13660.0    29.0   test