## Ipython Notebooks for testing util functions

1. resample
2. daily vol counting
3. timezone chagne
4. filter

In [1]:
import sys
sys.path.append('E:\\git_folder\\quant_models')

In [2]:
print(sys.path)

['', 'C:\\Users\\ZHAORU~1\\AppData\\Local\\Temp\\6af607c5-6e8b-4138-a656-89e51f737e6e', 'E:\\Anaconda\\python37.zip', 'E:\\Anaconda\\DLLs', 'E:\\Anaconda\\lib', 'E:\\Anaconda', 'C:\\Users\\Zhao Rui\\AppData\\Roaming\\Python\\Python37\\site-packages', 'E:\\Anaconda\\lib\\site-packages', 'E:\\Anaconda\\lib\\site-packages\\win32', 'E:\\Anaconda\\lib\\site-packages\\win32\\lib', 'E:\\Anaconda\\lib\\site-packages\\Pythonwin', 'E:\\Anaconda\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Zhao Rui\\.ipython', 'E:\\git_folder\\quant_models']

In [3]:
from util.utils import get_daily_vol, sample_df, convert_tz, filter_df_time

#### Data importing

In [25]:
import pandas as pd
data_fn = "././data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)

In [26]:
df_price.head().append(df_price.tail())

                    datetime     open     high      low    close  volume
0        2014-06-27 00:47:00   6635.0   6635.0   6635.0   6635.0     1.0
1        2014-06-27 00:48:00   6630.0   6630.0   6625.0   6625.0    23.0
2        2014-06-27 00:50:00   6630.0   6630.0   6625.0   6625.0    44.0
3        2014-06-27 00:52:00   6630.0   6630.0   6630.0   6630.0     5.0
4        2014-06-27 00:55:00   6630.0   6630.0   6630.0   6630.0    12.0
1173478  2019-12-18 13:59:00  14270.0  14270.0  14265.0  14265.0   892.0
1173479  2019-12-18 14:00:00  14262.5  14262.5  14245.0  14250.0  1923.0
1173480  2019-12-18 14:01:00  14250.0  14255.0  14250.0  14255.0   348.0
1173481  2019-12-18 14:02:00  14252.5  14255.0  14247.5  14247.5   589.0
1173482  2019-12-18 14:03:00  14245.0  14252.5  14245.0  14247.5   334.0

In [32]:
df_price.head(100)

               datetime    open    high     low   close  volume
0   2014-06-27 00:47:00  6635.0  6635.0  6635.0  6635.0     1.0
1   2014-06-27 00:48:00  6630.0  6630.0  6625.0  6625.0    23.0
2   2014-06-27 00:50:00  6630.0  6630.0  6625.0  6625.0    44.0
3   2014-06-27 00:52:00  6630.0  6630.0  6630.0  6630.0     5.0
4   2014-06-27 00:55:00  6630.0  6630.0  6630.0  6630.0    12.0
5   2014-06-27 00:56:00  6635.0  6635.0  6635.0  6635.0     8.0
6   2014-06-27 00:57:00  6630.0  6630.0  6625.0  6630.0     9.0
7   2014-06-27 00:58:00  6635.0  6635.0  6635.0  6635.0    17.0
8   2014-06-27 01:04:00  6635.0  6640.0  6635.0  6640.0   140.0
9   2014-06-27 01:05:00  6635.0  6640.0  6635.0  6640.0    15.0
10  2014-06-27 01:06:00  6630.0  6630.0  6630.0  6630.0     2.0
11  2014-06-27 01:11:00  6635.0  6635.0  6635.0  6635.0     4.0
12  2014-06-27 01:14:00  6635.0  6635.0  6635.0  6635.0   474.0
13  2014-06-27 01:19:00  6635.0  6635.0  6635.0  6635.0    50.0
14  2014-06-27 01:21:00  6635.0  6635.0  6635.0  6635.0    50.0
15  2014-06-27 01:29:00  6635.0  6635.0  6635.0  6635.0    18.0
16  2014-06-27 01:38:00  6635.0  6635.0  6635.0  6635.0    13.0
17  2014-06-27 01:43:00  6630.0  6630.0  6630.0  6630.0     7.0
18  2014-06-27 01:53:00  6630.0  6630.0  6630.0  6630.0     1.0
19  2014-06-27 02:02:00  6630.0  6630.0  6630.0  6630.0    19.0
20  2014-06-27 02:03:00  6630.0  6630.0  6630.0  6630.0     7.0
21  2014-06-27 02:04:00  6625.0  6625.0  6625.0  6625.0     3.0
22  2014-06-27 02:05:00  6625.0  6630.0  6625.0  6630.0     6.0
23  2014-06-27 02:07:00  6630.0  6630.0  6630.0  6630.0     2.0
24  2014-06-27 02:10:00  6625.0  6625.0  6625.0  6625.0    82.0
25  2014-06-27 02:17:00  6625.0  6625.0  6625.0  6625.0     1.0
26  2014-06-27 02:23:00  6625.0  6625.0  6625.0  6625.0    18.0
27  2014-06-27 02:27:00  6625.0  6625.0  6625.0  6625.0     1.0
28  2014-06-27 02:53:00  6625.0  6625.0  6625.0  6625.0     4.0
29  2014-06-27 02:58:00  6625.0  6625.0  6625.0  6625.0     1.0
..                  ...     ...     ...     ...     ...     ...
70  2014-06-27 08:10:00  6630.0  6630.0  6630.0  6630.0    18.0
71  2014-06-27 08:23:00  6630.0  6630.0  6630.0  6630.0     3.0
72  2014-06-27 08:24:00  6635.0  6635.0  6635.0  6635.0     1.0
73  2014-06-27 08:31:00  6635.0  6635.0  6635.0  6635.0    15.0
74  2014-06-27 08:32:00  6635.0  6635.0  6635.0  6635.0     5.0
75  2014-06-27 08:34:00  6630.0  6630.0  6630.0  6630.0     3.0
76  2014-06-27 08:35:00  6630.0  6630.0  6630.0  6630.0    10.0
77  2014-06-27 08:53:00  6630.0  6630.0  6630.0  6630.0    30.0
78  2014-06-27 09:47:00  6630.0  6630.0  6630.0  6630.0     6.0
79  2014-06-27 09:59:00  6630.0  6630.0  6625.0  6625.0    12.0
80  2014-06-27 17:00:00  6635.0  6635.0  6635.0  6635.0   551.0
81  2014-06-27 17:01:00  6635.0  6635.0  6635.0  6635.0    26.0
82  2014-06-27 17:02:00  6635.0  6635.0  6635.0  6635.0    19.0
83  2014-06-27 17:03:00  6635.0  6635.0  6635.0  6635.0     1.0
84  2014-06-27 17:04:00  6635.0  6640.0  6635.0  6640.0    40.0
85  2014-06-27 17:05:00  6640.0  6640.0  6640.0  6640.0   351.0
86  2014-06-27 17:06:00  6640.0  6640.0  6640.0  6640.0    23.0
87  2014-06-27 17:07:00  6640.0  6640.0  6640.0  6640.0    43.0
88  2014-06-27 17:08:00  6635.0  6635.0  6635.0  6635.0     7.0
89  2014-06-27 17:09:00  6635.0  6635.0  6635.0  6635.0    39.0
90  2014-06-27 17:10:00  6630.0  6635.0  6630.0  6635.0    77.0
91  2014-06-27 17:11:00  6630.0  6635.0  6630.0  6635.0    27.0
92  2014-06-27 17:12:00  6635.0  6635.0  6635.0  6635.0    27.0
93  2014-06-27 17:13:00  6635.0  6635.0  6630.0  6630.0   105.0
94  2014-06-27 17:14:00  6630.0  6630.0  6615.0  6615.0    76.0
95  2014-06-27 17:15:00  6615.0  6620.0  6605.0  6620.0   581.0
96  2014-06-27 17:16:00  6620.0  6625.0  6620.0  6625.0   308.0
97  2014-06-27 17:17:00  6625.0  6630.0  6625.0  6630.0   600.0
98  2014-06-27 17:18:00  6630.0  6630.0  6625.0  6625.0    33.0
99  2014-06-27 17:19:00  6630.0  6630.0  6625.0  6630.0    77.0

[100 rows x 6 columns]

In [6]:
test_df = df_price.copy()
test_df.loc[:,'datetime'] = pd.to_datetime(test_df.datetime)
test_df.set_index('datetime', inplace=True)

In [7]:
test_df.head()

                       open    high     low   close  volume
datetime
2014-06-27 00:47:00  6635.0  6635.0  6635.0  6635.0     1.0
2014-06-27 00:48:00  6630.0  6630.0  6625.0  6625.0    23.0
2014-06-27 00:50:00  6630.0  6630.0  6625.0  6625.0    44.0
2014-06-27 00:52:00  6630.0  6630.0  6630.0  6630.0     5.0
2014-06-27 00:55:00  6630.0  6630.0  6630.0  6630.0    12.0

#### Test the bar sampling functions

In [23]:
df_sampled = sample_df(test_df, '10T')

#### Daily Vol Computed

In [9]:
vol_df = get_daily_vol(df_sampled, 100, numday=1)

In [10]:
vol_df.head()

                          vol
datetime
2014-06-28 01:00:00  0.001065
2014-06-28 01:10:00  0.000870
2014-06-28 01:20:00  0.000718
2014-06-28 01:30:00  0.000987
2014-06-28 02:10:00  0.000912

### Timezone change

In [11]:
df_us = convert_tz(df_sampled,'SG', 'US')
df_us.head()

                       open   close     low    high  volume
datetime
2014-06-26 12:40:00  6635.0  6625.0  6625.0  6635.0    24.0
2014-06-26 12:50:00  6630.0  6635.0  6625.0  6635.0    95.0
2014-06-26 13:00:00  6635.0  6630.0  6630.0  6640.0   157.0
2014-06-26 13:10:00  6635.0  6635.0  6635.0  6635.0   528.0
2014-06-26 13:20:00  6635.0  6635.0  6635.0  6635.0    68.0

In [24]:
df_sampled = convert_tz(df_us,'US', 'SG')
df_sampled.head(50)

                       open   close     low    high  volume
datetime
2014-06-27 00:40:00  6635.0  6625.0  6625.0  6635.0    24.0
2014-06-27 00:50:00  6630.0  6635.0  6625.0  6635.0    95.0
2014-06-27 01:00:00  6635.0  6630.0  6630.0  6640.0   157.0
2014-06-27 01:10:00  6635.0  6635.0  6635.0  6635.0   528.0
2014-06-27 01:20:00  6635.0  6635.0  6635.0  6635.0    68.0
2014-06-27 01:30:00  6635.0  6635.0  6635.0  6635.0    13.0
2014-06-27 01:40:00  6630.0  6630.0  6630.0  6630.0     7.0
2014-06-27 01:50:00  6630.0  6630.0  6630.0  6630.0     1.0
2014-06-27 02:00:00  6630.0  6630.0  6625.0  6630.0    37.0
2014-06-27 02:10:00  6625.0  6625.0  6625.0  6625.0    83.0
2014-06-27 02:20:00  6625.0  6625.0  6625.0  6625.0    19.0
2014-06-27 02:50:00  6625.0  6625.0  6625.0  6625.0     5.0
2014-06-27 03:00:00  6625.0  6625.0  6625.0  6625.0     6.0
2014-06-27 03:10:00  6630.0  6630.0  6630.0  6630.0    24.0
2014-06-27 03:20:00  6630.0  6630.0  6630.0  6630.0     3.0
2014-06-27 03:30:00  6630.0  6630.0  6630.0  6630.0     1.0
2014-06-27 03:40:00  6630.0  6630.0  6630.0  6630.0    19.0
2014-06-27 03:50:00  6630.0  6630.0  6630.0  6630.0     7.0
2014-06-27 04:20:00  6630.0  6630.0  6630.0  6630.0    12.0
2014-06-27 04:40:00  6625.0  6630.0  6625.0  6630.0     5.0
2014-06-27 04:50:00  6630.0  6630.0  6630.0  6630.0     1.0
2014-06-27 05:10:00  6630.0  6625.0  6620.0  6630.0    23.0
2014-06-27 05:20:00  6625.0  6625.0  6625.0  6625.0    15.0
2014-06-27 05:40:00  6620.0  6625.0  6620.0  6625.0   210.0
2014-06-27 05:50:00  6620.0  6615.0  6615.0  6620.0   289.0
2014-06-27 06:00:00  6615.0  6615.0  6615.0  6615.0    29.0
2014-06-27 06:10:00  6610.0  6610.0  6610.0  6610.0     2.0
2014-06-27 06:20:00  6615.0  6615.0  6615.0  6615.0     2.0
2014-06-27 06:30:00  6620.0  6620.0  6620.0  6620.0     1.0
2014-06-27 06:50:00  6615.0  6615.0  6615.0  6615.0     2.0
2014-06-27 07:00:00  6615.0  6615.0  6615.0  6615.0   173.0
2014-06-27 07:20:00  6620.0  6620.0  6620.0  6620.0     1.0
2014-06-27 07:50:00  6625.0  6625.0  6625.0  6625.0     1.0
2014-06-27 08:00:00  6625.0  6630.0  6625.0  6630.0    26.0
2014-06-27 08:10:00  6630.0  6630.0  6630.0  6630.0    18.0
2014-06-27 08:20:00  6630.0  6635.0  6630.0  6635.0     4.0
2014-06-27 08:30:00  6635.0  6630.0  6630.0  6635.0    33.0
2014-06-27 08:50:00  6630.0  6630.0  6630.0  6630.0    30.0
2014-06-27 09:40:00  6630.0  6630.0  6630.0  6630.0     6.0
2014-06-27 09:50:00  6630.0  6625.0  6625.0  6630.0    12.0
2014-06-27 17:00:00  6635.0  6635.0  6635.0  6640.0  1100.0
2014-06-27 17:10:00  6630.0  6630.0  6605.0  6635.0  1911.0
2014-06-27 17:20:00  6625.0  6615.0  6615.0  6630.0  1341.0
2014-06-27 17:30:00  6620.0  6620.0  6595.0  6625.0  5211.0
2014-06-27 17:40:00  6620.0  6615.0  6610.0  6620.0  5025.0
2014-06-27 17:50:00  6615.0  6610.0  6600.0  6615.0  3999.0
2014-06-27 18:00:00  6610.0  6605.0  6600.0  6615.0  5349.0
2014-06-27 18:10:00  6610.0  6605.0  6595.0  6610.0  1769.0
2014-06-27 18:20:00  6610.0  6600.0  6600.0  6610.0   716.0
2014-06-27 18:30:00  6605.0  6605.0  6600.0  6615.0  2274.0

### Filter dataframe based on intervals

In [13]:
newdf = filter_df_time(df_sampled, [('9:30', '11:00'), ('13:00', '14:00')])

In [33]:
newdf.head(10)

                       open   close     low    high  volume
datetime
2014-06-27 09:40:00  6630.0  6630.0  6630.0  6630.0     6.0
2014-06-27 09:50:00  6630.0  6625.0  6625.0  6630.0    12.0
2014-06-28 09:50:00  6610.0  6610.0  6610.0  6615.0    10.0
2014-07-01 09:40:00  6650.0  6650.0  6650.0  6650.0     1.0
2014-07-01 09:50:00  6650.0  6650.0  6650.0  6655.0    25.0
2014-07-02 09:40:00  6655.0  6655.0  6655.0  6655.0    14.0
2014-07-02 09:50:00  6655.0  6645.0  6645.0  6655.0    19.0
2014-07-03 09:50:00  6690.0  6690.0  6685.0  6690.0    30.0
2014-07-04 09:30:00  6725.0  6725.0  6725.0  6725.0     1.0
2014-07-04 09:40:00  6725.0  6725.0  6725.0  6725.0     1.0