## Ipython Notebooks for testing util functions

1. resample
2. daily vol counting
3. timezone chagne
4. filter

In [1]:
import sys
sys.path.append('E:\\git_folder\\quant_models')

In [2]:
print(sys.path)

['', 'C:\\Users\\ZHAORU~1\\AppData\\Local\\Temp\\9edc9679-8599-47bc-9bb3-5fef8a927042', 'E:\\Anaconda\\python37.zip', 'E:\\Anaconda\\DLLs', 'E:\\Anaconda\\lib', 'E:\\Anaconda', 'C:\\Users\\Zhao Rui\\AppData\\Roaming\\Python\\Python37\\site-packages', 'E:\\Anaconda\\lib\\site-packages', 'E:\\Anaconda\\lib\\site-packages\\win32', 'E:\\Anaconda\\lib\\site-packages\\win32\\lib', 'E:\\Anaconda\\lib\\site-packages\\Pythonwin', 'E:\\Anaconda\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\Zhao Rui\\.ipython', 'E:\\git_folder\\quant_models']

In [3]:
from util.utils import get_daily_vol, sample_df, convert_tz, filter_df_time

#### Data importing

In [4]:
from util.fast_smooth import smooth, smooth_normal

In [5]:
import pandas as pd
data_fn = "././data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)

In [6]:
test_df = df_price.copy()
test_df.loc[:,'datetime'] = pd.to_datetime(test_df.datetime)
test_df.set_index('datetime', inplace=True)

In [7]:
test_df.head()

                       open    high     low   close  volume
datetime
2014-06-27 00:47:00  6635.0  6635.0  6635.0  6635.0     1.0
2014-06-27 00:48:00  6630.0  6630.0  6625.0  6625.0    23.0
2014-06-27 00:50:00  6630.0  6630.0  6625.0  6625.0    44.0
2014-06-27 00:52:00  6630.0  6630.0  6630.0  6630.0     5.0
2014-06-27 00:55:00  6630.0  6630.0  6630.0  6630.0    12.0

#### Test the bar sampling functions

In [8]:
df_sampled = sample_df(test_df, '10T')

### Test the filter function

In [9]:
raw_price = df_sampled['open'].values

In [10]:
type(raw_price)

numpy.ndarray

In [19]:
%timeit new_price = smooth(raw_price, 1000)

1min 36s ± 2.02 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
%timeit new_price2 = smooth_normal(raw_price, 1000)

1min 2s ± 331 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

#### Daily Vol Computed

In [13]:
vol_df = get_daily_vol(df_sampled, 100, numday=1)

In [14]:
vol_df.head()

                          vol
datetime
2014-06-28 01:00:00  0.001065
2014-06-28 01:10:00  0.000870
2014-06-28 01:20:00  0.000718
2014-06-28 01:30:00  0.000987
2014-06-28 02:10:00  0.000912

### Timezone change

In [15]:
df_us = convert_tz(df_sampled,'SG', 'US')
df_us.head()

                       open   close     low    high  volume
datetime
2014-06-26 12:40:00  6635.0  6625.0  6625.0  6635.0    24.0
2014-06-26 12:50:00  6630.0  6635.0  6625.0  6635.0    95.0
2014-06-26 13:00:00  6635.0  6630.0  6630.0  6640.0   157.0
2014-06-26 13:10:00  6635.0  6635.0  6635.0  6635.0   528.0
2014-06-26 13:20:00  6635.0  6635.0  6635.0  6635.0    68.0

In [16]:
df_sampled = convert_tz(df_us,'US', 'SG')
df_sampled.head(50)

                       open   close     low    high  volume
datetime
2014-06-27 00:40:00  6635.0  6625.0  6625.0  6635.0    24.0
2014-06-27 00:50:00  6630.0  6635.0  6625.0  6635.0    95.0
2014-06-27 01:00:00  6635.0  6630.0  6630.0  6640.0   157.0
2014-06-27 01:10:00  6635.0  6635.0  6635.0  6635.0   528.0
2014-06-27 01:20:00  6635.0  6635.0  6635.0  6635.0    68.0
2014-06-27 01:30:00  6635.0  6635.0  6635.0  6635.0    13.0
2014-06-27 01:40:00  6630.0  6630.0  6630.0  6630.0     7.0
2014-06-27 01:50:00  6630.0  6630.0  6630.0  6630.0     1.0
2014-06-27 02:00:00  6630.0  6630.0  6625.0  6630.0    37.0
2014-06-27 02:10:00  6625.0  6625.0  6625.0  6625.0    83.0
2014-06-27 02:20:00  6625.0  6625.0  6625.0  6625.0    19.0
2014-06-27 02:50:00  6625.0  6625.0  6625.0  6625.0     5.0
2014-06-27 03:00:00  6625.0  6625.0  6625.0  6625.0     6.0
2014-06-27 03:10:00  6630.0  6630.0  6630.0  6630.0    24.0
2014-06-27 03:20:00  6630.0  6630.0  6630.0  6630.0     3.0
2014-06-27 03:30:00  6630.0  6630.0  6630.0  6630.0     1.0
2014-06-27 03:40:00  6630.0  6630.0  6630.0  6630.0    19.0
2014-06-27 03:50:00  6630.0  6630.0  6630.0  6630.0     7.0
2014-06-27 04:20:00  6630.0  6630.0  6630.0  6630.0    12.0
2014-06-27 04:40:00  6625.0  6630.0  6625.0  6630.0     5.0
2014-06-27 04:50:00  6630.0  6630.0  6630.0  6630.0     1.0
2014-06-27 05:10:00  6630.0  6625.0  6620.0  6630.0    23.0
2014-06-27 05:20:00  6625.0  6625.0  6625.0  6625.0    15.0
2014-06-27 05:40:00  6620.0  6625.0  6620.0  6625.0   210.0
2014-06-27 05:50:00  6620.0  6615.0  6615.0  6620.0   289.0
2014-06-27 06:00:00  6615.0  6615.0  6615.0  6615.0    29.0
2014-06-27 06:10:00  6610.0  6610.0  6610.0  6610.0     2.0
2014-06-27 06:20:00  6615.0  6615.0  6615.0  6615.0     2.0
2014-06-27 06:30:00  6620.0  6620.0  6620.0  6620.0     1.0
2014-06-27 06:50:00  6615.0  6615.0  6615.0  6615.0     2.0
2014-06-27 07:00:00  6615.0  6615.0  6615.0  6615.0   173.0
2014-06-27 07:20:00  6620.0  6620.0  6620.0  6620.0     1.0
2014-06-27 07:50:00  6625.0  6625.0  6625.0  6625.0     1.0
2014-06-27 08:00:00  6625.0  6630.0  6625.0  6630.0    26.0
2014-06-27 08:10:00  6630.0  6630.0  6630.0  6630.0    18.0
2014-06-27 08:20:00  6630.0  6635.0  6630.0  6635.0     4.0
2014-06-27 08:30:00  6635.0  6630.0  6630.0  6635.0    33.0
2014-06-27 08:50:00  6630.0  6630.0  6630.0  6630.0    30.0
2014-06-27 09:40:00  6630.0  6630.0  6630.0  6630.0     6.0
2014-06-27 09:50:00  6630.0  6625.0  6625.0  6630.0    12.0
2014-06-27 17:00:00  6635.0  6635.0  6635.0  6640.0  1100.0
2014-06-27 17:10:00  6630.0  6630.0  6605.0  6635.0  1911.0
2014-06-27 17:20:00  6625.0  6615.0  6615.0  6630.0  1341.0
2014-06-27 17:30:00  6620.0  6620.0  6595.0  6625.0  5211.0
2014-06-27 17:40:00  6620.0  6615.0  6610.0  6620.0  5025.0
2014-06-27 17:50:00  6615.0  6610.0  6600.0  6615.0  3999.0
2014-06-27 18:00:00  6610.0  6605.0  6600.0  6615.0  5349.0
2014-06-27 18:10:00  6610.0  6605.0  6595.0  6610.0  1769.0
2014-06-27 18:20:00  6610.0  6600.0  6600.0  6610.0   716.0
2014-06-27 18:30:00  6605.0  6605.0  6600.0  6615.0  2274.0

### Filter dataframe based on intervals

In [17]:
newdf = filter_df_time(df_sampled, [('9:30', '11:00'), ('13:00', '14:00')])

In [18]:
newdf.head(10)

                       open   close     low    high  volume
datetime
2014-06-27 09:40:00  6630.0  6630.0  6630.0  6630.0     6.0
2014-06-27 09:50:00  6630.0  6625.0  6625.0  6630.0    12.0
2014-06-28 09:50:00  6610.0  6610.0  6610.0  6615.0    10.0
2014-07-01 09:40:00  6650.0  6650.0  6650.0  6650.0     1.0
2014-07-01 09:50:00  6650.0  6650.0  6650.0  6655.0    25.0
2014-07-02 09:40:00  6655.0  6655.0  6655.0  6655.0    14.0
2014-07-02 09:50:00  6655.0  6645.0  6645.0  6655.0    19.0
2014-07-03 09:50:00  6690.0  6690.0  6685.0  6690.0    30.0
2014-07-04 09:30:00  6725.0  6725.0  6725.0  6725.0     1.0
2014-07-04 09:40:00  6725.0  6725.0  6725.0  6725.0     1.0