## Ipython Notebooks for testing custombar

1. TickBar, VolBar, DollarBar
2. Imbalance Bar
3. Imbalance Run Bar

In [1]:
import sys
sys.path.append('E:\\git_folder\\quant_models')

In [2]:
from custombar import TickBar, VolBar, DollarBar
from custombar import Imbalance_Bar, Imbalance_Run_Bar

#### Data importing

In [3]:
import pandas as pd
data_fn = "././data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)

In [4]:
df_price.head().append(df_price.tail())

                    datetime     open     high      low    close  volume
0        2014-06-27 00:47:00   6635.0   6635.0   6635.0   6635.0     1.0
1        2014-06-27 00:48:00   6630.0   6630.0   6625.0   6625.0    23.0
2        2014-06-27 00:50:00   6630.0   6630.0   6625.0   6625.0    44.0
3        2014-06-27 00:52:00   6630.0   6630.0   6630.0   6630.0     5.0
4        2014-06-27 00:55:00   6630.0   6630.0   6630.0   6630.0    12.0
1173478  2019-12-18 13:59:00  14270.0  14270.0  14265.0  14265.0   892.0
1173479  2019-12-18 14:00:00  14262.5  14262.5  14245.0  14250.0  1923.0
1173480  2019-12-18 14:01:00  14250.0  14255.0  14250.0  14255.0   348.0
1173481  2019-12-18 14:02:00  14252.5  14255.0  14247.5  14247.5   589.0
1173482  2019-12-18 14:03:00  14245.0  14252.5  14245.0  14247.5   334.0

In [5]:
test_df = df_price.copy()
test_df.loc[:,'datetime'] = pd.to_datetime(test_df.datetime)
test_df.set_index('datetime', inplace=True)
test_df = test_df.loc[test_df.index > pd.to_datetime("2016-01-01"),:]

In [6]:
test_df.head()

                        open     high      low    close  volume
datetime
2016-01-04 17:00:00  10460.0  10485.0  10460.0  10470.0   443.0
2016-01-04 17:01:00  10472.5  10472.5  10467.5  10472.5   160.0
2016-01-04 17:02:00  10470.0  10470.0  10455.0  10460.0   242.0
2016-01-04 17:03:00  10457.5  10460.0  10435.0  10435.0   344.0
2016-01-04 17:04:00  10432.5  10450.0  10432.5  10435.0   497.0

In [7]:
colmap = {"open":"price"}

#### Testing Volume Bar Function

In [8]:
volbar_model = VolBar(threshold=40000, dictcol=colmap)

In [9]:
vol_df = volbar_model.transform(test_df)

In [10]:
vol_df.tail()

                        open     high      low    close   volume
datetime
2019-12-17 13:19:00  14270.0  14352.5  14267.5  14285.0  41454.0
2019-12-17 13:52:00  14285.0  14325.0  14250.0  14255.0  42903.0
2019-12-17 14:59:00  14255.0  14277.5  14207.5  14255.0  41113.0
2019-12-18 03:12:00  14255.0  14305.0  14245.0  14302.5  40136.0
2019-12-18 09:59:00  14302.5  14327.5  14267.5  14280.0  40272.0

In [11]:
7e10

70000000000.0

#### Testing Dollar Bar Function

In [12]:
dollarbar_model = DollarBar(threshold=7e9, dictcol=colmap)

In [13]:
dollar_df = dollarbar_model.transform(test_df)

In [14]:
dollar_df.head()

                       open     high     low   close    volume
datetime
2016-01-06 18:09:00  9985.0  10122.5  9190.0  9752.5  725586.0
2016-01-08 21:21:00  9752.5   9860.0  9275.0  9472.5  737863.0
2016-01-13 02:37:00  9472.5   9582.5  9047.5  9167.5  751270.0
2016-01-15 21:52:00  9167.5   9500.0  8905.0  9260.0  757951.0
2016-01-20 19:19:00  9260.0   9400.0  9007.5  9227.5  761875.0

#### Testing Tick Bar Function

Due to the testing data is only minute bar, therefore it will be the equal-interval sampling

In [16]:
tickbar_model = TickBar(threshold=45, dictcol=colmap)
tick_df = tickbar_model.transform(test_df)

In [17]:
tick_df.head()

                        open     high      low    close   volume
datetime
2016-01-04 17:44:00  10372.5  10372.5  10100.0  10152.5  69679.0
2016-01-04 18:29:00  10152.5  10182.5  10095.0  10095.0  32554.0
2016-01-04 19:14:00  10095.0  10147.5  10095.0  10100.0  10952.0
2016-01-04 19:59:00  10100.0  10105.0  10087.5  10097.5   2148.0
2016-01-04 20:45:00  10097.5  10097.5   9940.0   9950.0  30251.0

#### Testing Imbalanced Bar

In [18]:
tickbar_model = Imbalance_Bar(dictcol=colmap, mode='tick')
tick_df = tickbar_model.transform(test_df)

E:\git_folder\quant_models\custombar\_imbtickbar.py:68: RuntimeWarning: invalid value encountered in greater
  if np.abs(cum_theta) > self.exp_num_ticks * np.abs(self.expected_imbalance):

In [19]:
tick_df.head()

                       open    high     low   close     volume
datetime
2016-01-15 23:12:00  9097.5  9500.0  8500.0  8660.0  3372980.0
2016-02-03 19:17:00  8660.0  9495.0  8462.5  9492.5  3894632.0
2016-03-05 08:48:00  9492.5  9517.5  9005.0  9265.0  1384167.0
2016-03-15 09:57:00  9265.0  9637.5  9135.0  9632.5   967619.0
2016-03-19 06:49:00  9632.5  9830.0  9442.5  9457.5  1026363.0

#### Testing Imbalanced Run Bar

In [22]:
tickbar_model = Imbalance_Run_Bar(dictcol=colmap, mode='volume', exp_num_ticks_init=5)
tick_df = tickbar_model.transform(test_df)

In [23]:
tick_df.head()

                        open     high     low    close    volume
datetime
2016-01-04 21:31:00   9932.5  10037.5  9662.5  10022.5  189633.0
2016-01-05 17:52:00  10022.5  10085.0  9812.5   9812.5  182662.0
2016-01-05 22:14:00   9812.5  10077.5  9812.5   9957.5  187911.0
2016-01-06 18:45:00   9957.5  10122.5  9552.5   9552.5  199601.0
2016-01-07 17:49:00   9552.5   9610.0  9190.0   9467.5  205291.0