## Ipython Notebooks For Triple-Bar

Add the package path for testing

In [1]:
import sys
sys.path.append('E:\\git_folder\\quant_models')

In [2]:
import pandas as pd
from util.utils import get_daily_vol, sample_df, filter_df_time
data_fn = "././data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)
test_df = df_price.copy()
test_df.loc[:,'datetime'] = pd.to_datetime(test_df.datetime)
test_df.set_index('datetime', inplace=True)
df_testprice = test_df.loc[test_df.index > pd.to_datetime('2019-11-01')]
df_sampled = sample_df(df_testprice, '30T')
print(df_sampled.count())
df_sampled = df_sampled.reindex(df_sampled.index.intersection(df_testprice.index))
print(df_sampled.count())

open      1402
close     1402
low       1402
high      1402
volume    1402
dtype: int64
open      1219
close     1219
low       1219
high      1219
volume    1219
dtype: int64

In [3]:
df_sampled.head()

                        open    close      low     high  volume
datetime
2019-11-01 00:30:00  13865.0  13857.5  13850.0  13865.0   686.0
2019-11-01 01:00:00  13855.0  13855.0  13850.0  13860.0   438.0
2019-11-01 01:30:00  13855.0  13850.0  13850.0  13862.5   584.0
2019-11-01 02:00:00  13850.0  13852.5  13847.5  13857.5   288.0
2019-11-01 02:30:00  13852.5  13845.0  13840.0  13852.5   428.0

## Start Testing

In [4]:
df_sampled.tail(2)
from labeling import get_events

In [49]:
timedelta = pd.Timedelta('5 hours')
nearest_index = df_sampled.index.searchsorted(df_sampled.index + timedelta)

In [50]:
nearest_index

array([   9,    9,    9, ..., 1219, 1219, 1219], dtype=int64)

In [51]:
from labeling import add_vertical_barrier

In [52]:
vertical_barrier_times = add_vertical_barrier(df_testprice.open, df_sampled.index, num_hours=5)

In [53]:
vertical_barrier_times.tail(20)

datetime
2019-12-17 18:30:00   2019-12-17 23:30:00
2019-12-17 19:00:00   2019-12-18 00:00:00
2019-12-17 20:00:00   2019-12-18 01:00:00
2019-12-17 20:30:00   2019-12-18 01:33:00
2019-12-17 21:00:00   2019-12-18 02:00:00
2019-12-17 21:30:00   2019-12-18 02:30:00
2019-12-17 22:00:00   2019-12-18 03:00:00
2019-12-17 22:30:00   2019-12-18 03:30:00
2019-12-17 23:00:00   2019-12-18 04:00:00
2019-12-17 23:30:00   2019-12-18 04:32:00
2019-12-18 00:00:00   2019-12-18 05:00:00
2019-12-18 00:30:00   2019-12-18 08:59:00
2019-12-18 01:00:00   2019-12-18 08:59:00
2019-12-18 02:00:00   2019-12-18 08:59:00
2019-12-18 02:30:00   2019-12-18 08:59:00
2019-12-18 03:00:00   2019-12-18 08:59:00
2019-12-18 03:30:00   2019-12-18 08:59:00
2019-12-18 04:00:00   2019-12-18 09:00:00
2019-12-18 05:00:00   2019-12-18 10:00:00
2019-12-18 09:00:00   2019-12-18 14:00:00
Name: datetime, dtype: datetime64[ns]

In [54]:
target_vert = get_daily_vol(df_sampled)

In [55]:
target = target_vert['vol']
#t_events = df_sampled.index

In [56]:
#target = target.loc[t_events]

In [57]:
#target_vert.head()

In [58]:
# = target.reindex(t_events)

In [59]:
#targetv1.dropna(inplace=True)

In [60]:
#target = targetv1.copy()

In [61]:
events = get_events(df_testprice.open, target, df_sampled.index, min_ret=0.001, 
          num_threads = 3, vertical_barrier_times=vertical_barrier_times)

2019-12-23 17:23:27.913754 100.0% apply_pt_sl_on_ent done after 0.07 minutes. Remaining 0.0 minutes.

In [92]:
hh.head()

                          ret      trgt  bin
datetime
2019-11-02 01:30:00  0.000879  0.000769    1
2019-11-02 02:00:00 -0.000527  0.001090    0
2019-11-02 02:30:00 -0.001404  0.000960   -1
2019-11-02 03:00:00  0.001054  0.000844    1
2019-11-02 03:30:00  0.001230  0.000901    1

In [62]:
final_hh = get_bins(events, df_testprice.open)

In [63]:
final_hh.head()

In [64]:
events = pd.concat({'ent': vertical_barrier_times, 'trgt': target, 'side': side_}, axis=1)

In [65]:
events = events.dropna(subset=['side'])

In [66]:
events = events.fillna(value={'trgt': 0.001})

In [67]:
events = events.dropna(subset=['trgt'])

In [68]:
events.head()

                                    ent  side      trgt
datetime
2019-11-02 01:30:00 2019-11-04 08:59:00   1.0  0.000769
2019-11-02 02:00:00 2019-11-04 08:59:00   1.0  0.001090
2019-11-02 02:30:00 2019-11-04 08:59:00   1.0  0.000960
2019-11-02 03:00:00 2019-11-04 08:59:00   1.0  0.000844
2019-11-02 03:30:00 2019-11-04 08:59:00   1.0  0.000901

In [69]:
# Snippet 3.1, page 44, Daily Volatility Estimates
from util.multiprocess import mp_pandas_obj
from labeling import apply_pt_sl_on_ent

In [70]:
num_threads = 2

In [71]:
events.head(2000)

                                    ent  side      trgt
datetime
2019-11-02 01:30:00 2019-11-04 08:59:00   1.0  0.000769
2019-11-02 02:00:00 2019-11-04 08:59:00   1.0  0.001090
2019-11-02 02:30:00 2019-11-04 08:59:00   1.0  0.000960
2019-11-02 03:00:00 2019-11-04 08:59:00   1.0  0.000844
2019-11-02 03:30:00 2019-11-04 08:59:00   1.0  0.000901
2019-11-02 04:00:00 2019-11-04 08:59:00   1.0  0.000949
2019-11-02 04:30:00 2019-11-04 08:59:00   1.0  0.000894
2019-11-04 09:00:00 2019-11-04 14:00:00   1.0  0.009570
2019-11-04 09:30:00 2019-11-04 14:30:00   1.0  0.011794
2019-11-04 10:00:00 2019-11-04 15:00:00   1.0  0.013282
2019-11-04 10:30:00 2019-11-04 15:30:00   1.0  0.013554
2019-11-04 11:00:00 2019-11-04 16:00:00   1.0  0.013664
2019-11-04 11:30:00 2019-11-04 16:34:00   1.0  0.013662
2019-11-04 12:00:00 2019-11-04 17:00:00   1.0  0.013576
2019-11-04 12:30:00 2019-11-04 17:30:00   1.0  0.013438
2019-11-04 13:00:00 2019-11-04 18:00:00   1.0  0.013350
2019-11-04 13:30:00 2019-11-04 18:30:00   1.0  0.013156
2019-11-04 14:00:00 2019-11-04 19:00:00   1.0  0.012909
2019-11-04 14:30:00 2019-11-04 19:30:00   1.0  0.012656
2019-11-04 15:00:00 2019-11-04 20:04:00   1.0  0.012413
2019-11-04 15:30:00 2019-11-04 20:30:00   1.0  0.012117
2019-11-04 16:00:00 2019-11-04 21:00:00   1.0  0.011804
2019-11-04 17:00:00 2019-11-04 22:00:00   1.0  0.011509
2019-11-04 17:30:00 2019-11-04 22:30:00   1.0  0.011234
2019-11-04 18:00:00 2019-11-04 23:01:00   1.0  0.010970
2019-11-04 18:30:00 2019-11-04 23:30:00   1.0  0.010717
2019-11-04 19:00:00 2019-11-05 00:00:00   1.0  0.010481
2019-11-04 19:30:00 2019-11-05 00:30:00   1.0  0.010253
2019-11-04 20:30:00 2019-11-05 01:30:00   1.0  0.010041
2019-11-04 21:00:00 2019-11-05 02:00:00   1.0  0.009832
...                                 ...   ...       ...
2019-12-17 18:30:00 2019-12-17 23:30:00   1.0  0.007154
2019-12-17 19:00:00 2019-12-18 00:00:00   1.0  0.007087
2019-12-17 20:00:00 2019-12-18 01:00:00   1.0  0.007020
2019-12-17 20:30:00 2019-12-18 01:33:00   1.0  0.006952
2019-12-17 21:00:00 2019-12-18 02:00:00   1.0  0.006886
2019-12-17 21:30:00 2019-12-18 02:30:00   1.0  0.006821
2019-12-17 22:00:00 2019-12-18 03:00:00   1.0  0.006755
2019-12-17 22:30:00 2019-12-18 03:30:00   1.0  0.006688
2019-12-17 23:00:00 2019-12-18 04:00:00   1.0  0.006624
2019-12-17 23:30:00 2019-12-18 04:32:00   1.0  0.006558
2019-12-18 00:00:00 2019-12-18 05:00:00   1.0  0.006493
2019-12-18 00:30:00 2019-12-18 08:59:00   1.0  0.006428
2019-12-18 01:00:00 2019-12-18 08:59:00   1.0  0.006365
2019-12-18 02:00:00 2019-12-18 08:59:00   1.0  0.006302
2019-12-18 02:30:00 2019-12-18 08:59:00   1.0  0.006241
2019-12-18 03:00:00 2019-12-18 08:59:00   1.0  0.006182
2019-12-18 03:30:00 2019-12-18 08:59:00   1.0  0.006128
2019-12-18 04:00:00 2019-12-18 09:00:00   1.0  0.006076
2019-12-18 05:00:00 2019-12-18 10:00:00   1.0  0.006028
2019-12-18 09:00:00 2019-12-18 14:00:00   1.0  0.005979
2019-12-18 09:30:00                 NaT   1.0  0.006000
2019-12-18 10:00:00                 NaT   1.0  0.006039
2019-12-18 10:30:00                 NaT   1.0  0.006003
2019-12-18 11:00:00                 NaT   1.0  0.005948
2019-12-18 11:30:00                 NaT   1.0  0.005919
2019-12-18 12:00:00                 NaT   1.0  0.005895
2019-12-18 12:30:00                 NaT   1.0  0.005878
2019-12-18 13:00:00                 NaT   1.0  0.005837
2019-12-18 13:30:00                 NaT   1.0  0.006040
2019-12-18 14:00:00                 NaT   1.0  0.006271

[1179 rows x 3 columns]

In [72]:
first_touch_dates = apply_pt_sl_on_ent(df_testprice.open, events, pt_sl_, events.index)

In [73]:
first_touch_dates.head(5)

,ent,sl,pt
datetime,,,
2019-11-02 01:30:00,2019-11-04 08:59:00,NaT,2019-11-02 01:51:00
2019-11-02 02:00:00,2019-11-04 08:59:00,2019-11-02 03:12:00,NaT
2019-11-02 02:30:00,2019-11-04 08:59:00,2019-11-02 02:36:00,NaT
2019-11-02 03:00:00,2019-11-04 08:59:00,NaT,2019-11-02 03:38:00
2019-11-02 03:30:00,2019-11-04 08:59:00,NaT,2019-11-02 04:09:00

In [74]:
events.head(5)

                                    ent  side      trgt
datetime
2019-11-02 01:30:00 2019-11-04 08:59:00   1.0  0.000769
2019-11-02 02:00:00 2019-11-04 08:59:00   1.0  0.001090
2019-11-02 02:30:00 2019-11-04 08:59:00   1.0  0.000960
2019-11-02 03:00:00 2019-11-04 08:59:00   1.0  0.000844
2019-11-02 03:30:00 2019-11-04 08:59:00   1.0  0.000901

In [75]:
gg = first_touch_dates.dropna(how='all').min(axis=1)

In [76]:
gg.head()

datetime
2019-11-02 01:30:00   2019-11-02 01:51:00
2019-11-02 02:00:00   2019-11-02 03:12:00
2019-11-02 02:30:00   2019-11-02 02:36:00
2019-11-02 03:00:00   2019-11-02 03:38:00
2019-11-02 03:30:00   2019-11-02 04:09:00
dtype: datetime64[ns]

In [77]:
events['ent'] = first_touch_dates.dropna(how='all').min(axis=1)

In [78]:
events.head()

                                    ent  side      trgt
datetime
2019-11-02 01:30:00 2019-11-02 01:51:00   1.0  0.000769
2019-11-02 02:00:00 2019-11-02 03:12:00   1.0  0.001090
2019-11-02 02:30:00 2019-11-02 02:36:00   1.0  0.000960
2019-11-02 03:00:00 2019-11-02 03:38:00   1.0  0.000844
2019-11-02 03:30:00 2019-11-02 04:09:00   1.0  0.000901

In [79]:
#events = events.drop('side', axis=1)
events['pt'] = 1
events['sl'] = 1

In [80]:
events.head(2)

                                    ent  side      trgt  pt  sl
datetime
2019-11-02 01:30:00 2019-11-02 01:51:00   1.0  0.000769   1   1
2019-11-02 02:00:00 2019-11-02 03:12:00   1.0  0.001090   1   1

In [81]:

first_touch_dates = mp_pandas_obj(func=apply_pt_sl_on_ent,
                                  pd_obj=('molecule', events.index),
                                  num_threads=2,
                                  df_price=df_testprice.open,
                                  events=events,
                                  pt_sl=pt_sl_)

2019-12-23 17:23:36.401057 100.0% apply_pt_sl_on_ent done after 0.07 minutes. Remaining 0.0 minutes.

In [82]:
#hh = apply_pt_sl_on_ent(df_testprice, events, pt_sl_, events.index)

In [83]:
events = events.drop('side', axis=1)

In [84]:
events['pt'] = 1
events['sl'] = 1

In [85]:
from labeling import get_bins, drop_labels

In [86]:
events.head(50)

                                    ent      trgt  pt  sl
datetime
2019-11-02 01:30:00 2019-11-02 01:51:00  0.000769   1   1
2019-11-02 02:00:00 2019-11-02 03:12:00  0.001090   1   1
2019-11-02 02:30:00 2019-11-02 02:36:00  0.000960   1   1
2019-11-02 03:00:00 2019-11-02 03:38:00  0.000844   1   1
2019-11-02 03:30:00 2019-11-02 04:09:00  0.000901   1   1
2019-11-02 04:00:00 2019-11-04 08:59:00  0.000949   1   1
2019-11-02 04:30:00 2019-11-04 08:59:00  0.000894   1   1
2019-11-04 09:00:00 2019-11-04 14:00:00  0.009570   1   1
2019-11-04 09:30:00 2019-11-04 14:30:00  0.011794   1   1
2019-11-04 10:00:00 2019-11-04 15:00:00  0.013282   1   1
2019-11-04 10:30:00 2019-11-04 15:30:00  0.013554   1   1
2019-11-04 11:00:00 2019-11-04 16:00:00  0.013664   1   1
2019-11-04 11:30:00 2019-11-04 16:34:00  0.013662   1   1
2019-11-04 12:00:00 2019-11-04 17:00:00  0.013576   1   1
2019-11-04 12:30:00 2019-11-04 17:30:00  0.013438   1   1
2019-11-04 13:00:00 2019-11-04 18:00:00  0.013350   1   1
2019-11-04 13:30:00 2019-11-04 18:30:00  0.013156   1   1
2019-11-04 14:00:00 2019-11-04 19:00:00  0.012909   1   1
2019-11-04 14:30:00 2019-11-04 19:30:00  0.012656   1   1
2019-11-04 15:00:00 2019-11-04 20:04:00  0.012413   1   1
2019-11-04 15:30:00 2019-11-04 20:30:00  0.012117   1   1
2019-11-04 16:00:00 2019-11-04 21:00:00  0.011804   1   1
2019-11-04 17:00:00 2019-11-04 22:00:00  0.011509   1   1
2019-11-04 17:30:00 2019-11-04 22:30:00  0.011234   1   1
2019-11-04 18:00:00 2019-11-04 23:01:00  0.010970   1   1
2019-11-04 18:30:00 2019-11-04 23:30:00  0.010717   1   1
2019-11-04 19:00:00 2019-11-05 00:00:00  0.010481   1   1
2019-11-04 19:30:00 2019-11-05 00:30:00  0.010253   1   1
2019-11-04 20:30:00 2019-11-05 01:30:00  0.010041   1   1
2019-11-04 21:00:00 2019-11-05 02:00:00  0.009832   1   1
2019-11-04 21:30:00 2019-11-05 02:30:00  0.009630   1   1
2019-11-04 22:00:00 2019-11-05 03:00:00  0.009433   1   1
2019-11-04 22:30:00 2019-11-05 03:30:00  0.009241   1   1
2019-11-04 23:30:00 2019-11-05 04:30:00  0.009066   1   1
2019-11-05 00:00:00 2019-11-05 08:59:00  0.008899   1   1
2019-11-05 00:30:00 2019-11-05 08:59:00  0.008743   1   1
2019-11-05 01:00:00 2019-11-05 08:59:00  0.008588   1   1
2019-11-05 01:30:00 2019-11-05 08:59:00  0.008439   1   1
2019-11-05 02:00:00 2019-11-05 08:59:00  0.008297   1   1
2019-11-05 02:30:00 2019-11-05 08:59:00  0.008169   1   1
2019-11-05 03:00:00 2019-11-05 08:59:00  0.008043   1   1
2019-11-05 03:30:00 2019-11-05 08:59:00  0.007917   1   1
2019-11-05 04:00:00 2019-11-05 09:00:00  0.007798   1   1
2019-11-05 04:30:00 2019-11-05 09:30:00  0.007677   1   1
2019-11-05 09:00:00 2019-11-05 13:05:00  0.007588   1   1
2019-11-05 09:30:00 2019-11-05 11:02:00  0.007496   1   1
2019-11-05 10:00:00 2019-11-05 10:52:00  0.007440   1   1
2019-11-05 10:30:00 2019-11-05 10:52:00  0.007362   1   1
2019-11-05 11:00:00 2019-11-05 16:00:00  0.007256   1   1
2019-11-05 11:30:00 2019-11-05 14:42:00  0.007150   1   1

In [87]:
hh = get_bins(events, df_sampled.open)

In [88]:
hh.head(100)

                          ret      trgt  bin
datetime
2019-11-02 01:30:00  0.000879  0.000769    1
2019-11-02 02:00:00 -0.000527  0.001090    0
2019-11-02 02:30:00 -0.001404  0.000960   -1
2019-11-02 03:00:00  0.001054  0.000844    1
2019-11-02 03:30:00  0.001230  0.000901    1
2019-11-02 04:00:00 -0.000351  0.000949    0
2019-11-02 04:30:00 -0.000702  0.000894    0
2019-11-04 09:00:00  0.002634  0.009570    0
2019-11-04 09:30:00  0.002984  0.011794    0
2019-11-04 10:00:00  0.002455  0.013282    0
2019-11-04 10:30:00  0.004217  0.013554    0
2019-11-04 11:00:00  0.001925  0.013664    0
2019-11-04 11:30:00  0.004027  0.013662    0
2019-11-04 12:00:00  0.004202  0.013576    0
2019-11-04 12:30:00  0.004027  0.013438    0
2019-11-04 13:00:00  0.003677  0.013350    0
2019-11-04 13:30:00  0.005437  0.013156    0
2019-11-04 14:00:00  0.004554  0.012909    0
2019-11-04 14:30:00  0.003325  0.012656    0
2019-11-04 15:00:00  0.002974  0.012413    0
2019-11-04 15:30:00  0.003150  0.012117    0
2019-11-04 16:00:00  0.000873  0.011804    0
2019-11-04 17:00:00  0.000174  0.011509    0
2019-11-04 17:30:00  0.000349  0.011234    0
2019-11-04 18:00:00  0.000698  0.010970    0
2019-11-04 18:30:00  0.000523  0.010717    0
2019-11-04 19:00:00 -0.000349  0.010481    0
2019-11-04 19:30:00 -0.000523  0.010253    0
2019-11-04 20:30:00 -0.000349  0.010041    0
2019-11-04 21:00:00  0.000000  0.009832    0
...                       ...       ...  ...
2019-11-05 23:30:00  0.002971  0.006159    0
2019-11-06 00:00:00  0.001396  0.006137    0
2019-11-06 00:30:00  0.000698  0.006102    0
2019-11-06 01:00:00  0.000349  0.006066    0
2019-11-06 01:30:00  0.000698  0.006029    0
2019-11-06 02:00:00  0.000349  0.005985    0
2019-11-06 02:30:00  0.000174  0.005937    0
2019-11-06 03:30:00  0.000000  0.005873    0
2019-11-06 04:00:00 -0.000174  0.005812    0
2019-11-06 04:30:00 -0.001220  0.005747    0
2019-11-06 09:00:00  0.000349  0.005701    0
2019-11-06 09:30:00 -0.000698  0.005641    0
2019-11-06 10:00:00 -0.001222  0.005574    0
2019-11-06 10:30:00 -0.003488  0.005507    0
2019-11-06 11:00:00 -0.003665  0.005554    0
2019-11-06 11:30:00 -0.003312  0.005692    0
2019-11-06 12:00:00 -0.001570  0.005807    0
2019-11-06 12:30:00 -0.002094  0.005884    0
2019-11-06 13:00:00 -0.002965  0.005957    0
2019-11-06 13:30:00 -0.001918  0.006081    0
2019-11-06 14:00:00 -0.002788  0.006161    0
2019-11-06 14:30:00 -0.000175  0.006147    0
2019-11-06 15:00:00  0.001049  0.006135    0
2019-11-06 15:30:00  0.002625  0.006167    0
2019-11-06 16:00:00  0.003503  0.006166    0
2019-11-06 16:30:00  0.001399  0.006163    0
2019-11-06 17:00:00  0.000175  0.006160    0
2019-11-06 17:30:00  0.001049  0.006184    0
2019-11-06 18:00:00  0.000875  0.006207    0
2019-11-06 19:00:00  0.000874  0.006189    0

[100 rows x 3 columns]

In [89]:
new_events = drop_labels(hh)

In [90]:
new_events.bin.min()

-1

In [91]:
hh.bin.value_counts()

 0    1032
 1      78
-1      59
Name: bin, dtype: int64