## Ipython Notebooks for testing custombar

1. TickBar, VolBar, DollarBar
2. Imbalance Bar
3. Imbalance Run Bar

In [1]:
import sys
sys.path.append('E:\\git_folder\\quant_models')

In [2]:
import talib

#### Data importing

In [3]:
import pandas as pd
data_fn = "././data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)

In [4]:
df_price.head().append(df_price.tail())

                    datetime     open     high      low    close  volume
0        2014-06-27 00:47:00   6635.0   6635.0   6635.0   6635.0     1.0
1        2014-06-27 00:48:00   6630.0   6630.0   6625.0   6625.0    23.0
2        2014-06-27 00:50:00   6630.0   6630.0   6625.0   6625.0    44.0
3        2014-06-27 00:52:00   6630.0   6630.0   6630.0   6630.0     5.0
4        2014-06-27 00:55:00   6630.0   6630.0   6630.0   6630.0    12.0
1173478  2019-12-18 13:59:00  14270.0  14270.0  14265.0  14265.0   892.0
1173479  2019-12-18 14:00:00  14262.5  14262.5  14245.0  14250.0  1923.0
1173480  2019-12-18 14:01:00  14250.0  14255.0  14250.0  14255.0   348.0
1173481  2019-12-18 14:02:00  14252.5  14255.0  14247.5  14247.5   589.0
1173482  2019-12-18 14:03:00  14245.0  14252.5  14245.0  14247.5   334.0

In [22]:
test_df = df_price.copy()
test_df.loc[:,'datetime'] = pd.to_datetime(test_df.datetime)
test_df.set_index('datetime', inplace=True)
test_df = test_df.loc[test_df.index > pd.to_datetime("2019-12-01"),:]

In [24]:
hh = talib.OBV(test_df.close, test_df.volume)
# OBV removed

In [40]:
hh = talib.ADOSC(test_df.high, test_df.low, test_df.close, test_df.volume)

In [44]:
test_df.head()

                        open     high      low    close  volume
datetime
2019-12-02 08:59:00  13647.5  13650.0  13645.0  13645.0    70.0
2019-12-02 09:00:00  13645.0  13657.5  13640.0  13650.0  1079.0
2019-12-02 09:01:00  13647.5  13655.0  13647.5  13655.0   318.0
2019-12-02 09:02:00  13652.5  13655.0  13647.5  13650.0   237.0
2019-12-02 09:03:00  13647.5  13650.0  13642.5  13642.5   149.0

In [43]:
hh.tail(10)
# adosc removed

datetime
2019-12-18 13:54:00     -21.056969
2019-12-18 13:55:00      40.065884
2019-12-18 13:56:00    -119.298938
2019-12-18 13:57:00    -269.739189
2019-12-18 13:58:00    -553.670275
2019-12-18 13:59:00    -903.308421
2019-12-18 14:00:00   -1226.450533
2019-12-18 14:01:00   -1136.422258
2019-12-18 14:02:00   -1183.690486
2019-12-18 14:03:00   -1130.843504
dtype: float64

In [52]:
real = talib.PLUS_DI(test_df.high, test_df.low, test_df.close, timeperiod=14)

In [130]:
help(talib.NATR)

Help on function NATR in module talib._ta_lib:

NATR(...)
    NATR(high, low, close[, timeperiod=?])

    Normalized Average True Range (Volatility Indicators)

    Inputs:
        prices: ['high', 'low', 'close']
    Parameters:
        timeperiod: 14
    Outputs:
        real

In [150]:
real = talib.SAREXT(test_df.high,test_df.low )

In [151]:
real = talib.SAREXT(test_df.close)

14320.907915784328