## Ipython Notebooks for testing custombar

1. TickBar, VolBar, DollarBar
2. Imbalance Bar
3. Imbalance Run Bar

In [1]:
import sys
sys.path.append('E:\\git_folder\\quant_models')

In [2]:
import talib

#### Data importing

In [3]:
import pandas as pd
data_fn = "././data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)

In [4]:
df_price.head().append(df_price.tail())

                    datetime     open     high      low    close  volume
0        2014-06-27 00:47:00   6635.0   6635.0   6635.0   6635.0     1.0
1        2014-06-27 00:48:00   6630.0   6630.0   6625.0   6625.0    23.0
2        2014-06-27 00:50:00   6630.0   6630.0   6625.0   6625.0    44.0
3        2014-06-27 00:52:00   6630.0   6630.0   6630.0   6630.0     5.0
4        2014-06-27 00:55:00   6630.0   6630.0   6630.0   6630.0    12.0
1173478  2019-12-18 13:59:00  14270.0  14270.0  14265.0  14265.0   892.0
1173479  2019-12-18 14:00:00  14262.5  14262.5  14245.0  14250.0  1923.0
1173480  2019-12-18 14:01:00  14250.0  14255.0  14250.0  14255.0   348.0
1173481  2019-12-18 14:02:00  14252.5  14255.0  14247.5  14247.5   589.0
1173482  2019-12-18 14:03:00  14245.0  14252.5  14245.0  14247.5   334.0

In [18]:
test_df = df_price.copy()
test_df.loc[:,'datetime'] = pd.to_datetime(test_df.datetime)
test_df.set_index('datetime', inplace=True)
test_df = test_df.loc[test_df.index > pd.to_datetime("2018-01-01"),:]

In [6]:
hh = talib.OBV(test_df.close, test_df.volume)
# OBV removed

In [7]:
hh = talib.ADOSC(test_df.high, test_df.low, test_df.close, test_df.volume)

In [8]:
test_df.head()

                        open     high      low    close  volume
datetime
2019-01-01 00:01:00  10400.0  10400.0  10395.0  10400.0    30.0
2019-01-01 00:02:00  10400.0  10405.0  10400.0  10402.5    15.0
2019-01-01 00:03:00  10402.5  10407.5  10400.0  10407.5    53.0
2019-01-01 00:04:00  10405.0  10405.0  10402.5  10402.5     2.0
2019-01-01 00:05:00  10407.5  10407.5  10402.5  10402.5     7.0

In [9]:
hh.tail(10)
# adosc removed

datetime
2019-12-18 13:54:00     -21.056969
2019-12-18 13:55:00      40.065884
2019-12-18 13:56:00    -119.298938
2019-12-18 13:57:00    -269.739189
2019-12-18 13:58:00    -553.670275
2019-12-18 13:59:00    -903.308421
2019-12-18 14:00:00   -1226.450533
2019-12-18 14:01:00   -1136.422258
2019-12-18 14:02:00   -1183.690486
2019-12-18 14:03:00   -1130.843504
dtype: float64

In [10]:
real = talib.PLUS_DI(test_df.high, test_df.low, test_df.close, timeperiod=14)

In [11]:
help(talib.NATR)

Help on function NATR in module talib._ta_lib:

NATR(...)
    NATR(high, low, close[, timeperiod=?])

    Normalized Average True Range (Volatility Indicators)

    Inputs:
        prices: ['high', 'low', 'close']
    Parameters:
        timeperiod: 14
    Outputs:
        real

In [12]:
real = talib.SAREXT(test_df.high,test_df.low )

In [45]:
real = talib.HT_PHASOR(test_df.close)

In [49]:
real[1].head(3001)

datetime
2018-01-02 08:59:00          NaN
2018-01-02 09:00:00          NaN
2018-01-02 09:01:00          NaN
2018-01-02 09:02:00          NaN
2018-01-02 09:03:00          NaN
2018-01-02 09:04:00          NaN
2018-01-02 09:05:00          NaN
2018-01-02 09:06:00          NaN
2018-01-02 09:07:00          NaN
2018-01-02 09:08:00          NaN
2018-01-02 09:09:00          NaN
2018-01-02 09:10:00          NaN
2018-01-02 09:11:00          NaN
2018-01-02 09:12:00          NaN
2018-01-02 09:13:00          NaN
2018-01-02 09:14:00          NaN
2018-01-02 09:15:00          NaN
2018-01-02 09:16:00          NaN
2018-01-02 09:17:00          NaN
2018-01-02 09:18:00          NaN
2018-01-02 09:19:00          NaN
2018-01-02 09:20:00          NaN
2018-01-02 09:21:00          NaN
2018-01-02 09:22:00          NaN
2018-01-02 09:23:00          NaN
2018-01-02 09:24:00          NaN
2018-01-02 09:25:00          NaN
2018-01-02 09:26:00          NaN
2018-01-02 09:27:00          NaN
2018-01-02 09:28:00          NaN
                         ...
2018-01-05 15:48:00    -1.405178
2018-01-05 15:49:00    -2.298837
2018-01-05 15:50:00    -0.387858
2018-01-05 15:51:00     0.795368
2018-01-05 15:52:00     0.892999
2018-01-05 15:53:00    -0.623109
2018-01-05 15:54:00    -2.236081
2018-01-05 15:55:00    -0.794883
2018-01-05 15:56:00     1.702843
2018-01-05 15:57:00     6.692528
2018-01-05 15:58:00     6.322443
2018-01-05 15:59:00    -1.068037
2018-01-05 16:00:00    -7.248241
2018-01-05 16:01:00    -7.437073
2018-01-05 16:02:00     1.794178
2018-01-05 16:03:00     9.742877
2018-01-05 16:04:00    11.630063
2018-01-05 16:05:00     7.997900
2018-01-05 16:06:00    -0.868189
2018-01-05 16:07:00    -6.304433
2018-01-05 16:08:00    -9.378076
2018-01-05 16:09:00    -9.067577
2018-01-05 16:10:00    -2.922994
2018-01-05 16:11:00     1.335808
2018-01-05 16:12:00     2.828103
2018-01-05 16:13:00     3.430516
2018-01-05 16:14:00     1.350117
2018-01-05 16:15:00     1.708961
2018-01-05 16:16:00     1.033980
2018-01-05 16:17:00    -1.047402
Length: 3001, dtype: float64

In [50]:
test_df.head()

                        open     high      low    close  volume
datetime
2018-01-02 08:59:00  13250.0  13250.0  13245.0  13247.5   111.0
2018-01-02 09:00:00  13247.5  13270.0  13242.5  13267.5   481.0
2018-01-02 09:01:00  13267.5  13280.0  13262.5  13280.0   387.0
2018-01-02 09:02:00  13280.0  13285.0  13280.0  13282.5   260.0
2018-01-02 09:03:00  13282.5  13285.0  13272.5  13275.0   180.0