## Ipython Notebooks for testing custombar

1. resample
2. daily vol counting
3. timezone chagne
4. filter

In [1]:
import sys
sys.path.append('E:\\git_folder\\quant_models')

In [2]:
from custombar import TickBar, VolBar, DollarBar
from custombar import Imbalance_Bar, Imbalance_Run_Bar

#### Data importing

In [3]:
import pandas as pd
data_fn = "././data/xu1_1min.csv"
df_price = pd.read_csv(data_fn)

In [4]:
df_price.head().append(df_price.tail())

                    datetime     open     high      low    close  volume
0        2014-06-27 00:47:00   6635.0   6635.0   6635.0   6635.0     1.0
1        2014-06-27 00:48:00   6630.0   6630.0   6625.0   6625.0    23.0
2        2014-06-27 00:50:00   6630.0   6630.0   6625.0   6625.0    44.0
3        2014-06-27 00:52:00   6630.0   6630.0   6630.0   6630.0     5.0
4        2014-06-27 00:55:00   6630.0   6630.0   6630.0   6630.0    12.0
1173478  2019-12-18 13:59:00  14270.0  14270.0  14265.0  14265.0   892.0
1173479  2019-12-18 14:00:00  14262.5  14262.5  14245.0  14250.0  1923.0
1173480  2019-12-18 14:01:00  14250.0  14255.0  14250.0  14255.0   348.0
1173481  2019-12-18 14:02:00  14252.5  14255.0  14247.5  14247.5   589.0
1173482  2019-12-18 14:03:00  14245.0  14252.5  14245.0  14247.5   334.0

In [5]:
df_price.head(100)

               datetime    open    high     low   close  volume
0   2014-06-27 00:47:00  6635.0  6635.0  6635.0  6635.0     1.0
1   2014-06-27 00:48:00  6630.0  6630.0  6625.0  6625.0    23.0
2   2014-06-27 00:50:00  6630.0  6630.0  6625.0  6625.0    44.0
3   2014-06-27 00:52:00  6630.0  6630.0  6630.0  6630.0     5.0
4   2014-06-27 00:55:00  6630.0  6630.0  6630.0  6630.0    12.0
5   2014-06-27 00:56:00  6635.0  6635.0  6635.0  6635.0     8.0
6   2014-06-27 00:57:00  6630.0  6630.0  6625.0  6630.0     9.0
7   2014-06-27 00:58:00  6635.0  6635.0  6635.0  6635.0    17.0
8   2014-06-27 01:04:00  6635.0  6640.0  6635.0  6640.0   140.0
9   2014-06-27 01:05:00  6635.0  6640.0  6635.0  6640.0    15.0
10  2014-06-27 01:06:00  6630.0  6630.0  6630.0  6630.0     2.0
11  2014-06-27 01:11:00  6635.0  6635.0  6635.0  6635.0     4.0
12  2014-06-27 01:14:00  6635.0  6635.0  6635.0  6635.0   474.0
13  2014-06-27 01:19:00  6635.0  6635.0  6635.0  6635.0    50.0
14  2014-06-27 01:21:00  6635.0  6635.0  6635.0  6635.0    50.0
15  2014-06-27 01:29:00  6635.0  6635.0  6635.0  6635.0    18.0
16  2014-06-27 01:38:00  6635.0  6635.0  6635.0  6635.0    13.0
17  2014-06-27 01:43:00  6630.0  6630.0  6630.0  6630.0     7.0
18  2014-06-27 01:53:00  6630.0  6630.0  6630.0  6630.0     1.0
19  2014-06-27 02:02:00  6630.0  6630.0  6630.0  6630.0    19.0
20  2014-06-27 02:03:00  6630.0  6630.0  6630.0  6630.0     7.0
21  2014-06-27 02:04:00  6625.0  6625.0  6625.0  6625.0     3.0
22  2014-06-27 02:05:00  6625.0  6630.0  6625.0  6630.0     6.0
23  2014-06-27 02:07:00  6630.0  6630.0  6630.0  6630.0     2.0
24  2014-06-27 02:10:00  6625.0  6625.0  6625.0  6625.0    82.0
25  2014-06-27 02:17:00  6625.0  6625.0  6625.0  6625.0     1.0
26  2014-06-27 02:23:00  6625.0  6625.0  6625.0  6625.0    18.0
27  2014-06-27 02:27:00  6625.0  6625.0  6625.0  6625.0     1.0
28  2014-06-27 02:53:00  6625.0  6625.0  6625.0  6625.0     4.0
29  2014-06-27 02:58:00  6625.0  6625.0  6625.0  6625.0     1.0
..                  ...     ...     ...     ...     ...     ...
70  2014-06-27 08:10:00  6630.0  6630.0  6630.0  6630.0    18.0
71  2014-06-27 08:23:00  6630.0  6630.0  6630.0  6630.0     3.0
72  2014-06-27 08:24:00  6635.0  6635.0  6635.0  6635.0     1.0
73  2014-06-27 08:31:00  6635.0  6635.0  6635.0  6635.0    15.0
74  2014-06-27 08:32:00  6635.0  6635.0  6635.0  6635.0     5.0
75  2014-06-27 08:34:00  6630.0  6630.0  6630.0  6630.0     3.0
76  2014-06-27 08:35:00  6630.0  6630.0  6630.0  6630.0    10.0
77  2014-06-27 08:53:00  6630.0  6630.0  6630.0  6630.0    30.0
78  2014-06-27 09:47:00  6630.0  6630.0  6630.0  6630.0     6.0
79  2014-06-27 09:59:00  6630.0  6630.0  6625.0  6625.0    12.0
80  2014-06-27 17:00:00  6635.0  6635.0  6635.0  6635.0   551.0
81  2014-06-27 17:01:00  6635.0  6635.0  6635.0  6635.0    26.0
82  2014-06-27 17:02:00  6635.0  6635.0  6635.0  6635.0    19.0
83  2014-06-27 17:03:00  6635.0  6635.0  6635.0  6635.0     1.0
84  2014-06-27 17:04:00  6635.0  6640.0  6635.0  6640.0    40.0
85  2014-06-27 17:05:00  6640.0  6640.0  6640.0  6640.0   351.0
86  2014-06-27 17:06:00  6640.0  6640.0  6640.0  6640.0    23.0
87  2014-06-27 17:07:00  6640.0  6640.0  6640.0  6640.0    43.0
88  2014-06-27 17:08:00  6635.0  6635.0  6635.0  6635.0     7.0
89  2014-06-27 17:09:00  6635.0  6635.0  6635.0  6635.0    39.0
90  2014-06-27 17:10:00  6630.0  6635.0  6630.0  6635.0    77.0
91  2014-06-27 17:11:00  6630.0  6635.0  6630.0  6635.0    27.0
92  2014-06-27 17:12:00  6635.0  6635.0  6635.0  6635.0    27.0
93  2014-06-27 17:13:00  6635.0  6635.0  6630.0  6630.0   105.0
94  2014-06-27 17:14:00  6630.0  6630.0  6615.0  6615.0    76.0
95  2014-06-27 17:15:00  6615.0  6620.0  6605.0  6620.0   581.0
96  2014-06-27 17:16:00  6620.0  6625.0  6620.0  6625.0   308.0
97  2014-06-27 17:17:00  6625.0  6630.0  6625.0  6630.0   600.0
98  2014-06-27 17:18:00  6630.0  6630.0  6625.0  6625.0    33.0
99  2014-06-27 17:19:00  6630.0  6630.0  6625.0  6630.0    77.0

[100 rows x 6 columns]

In [6]:
test_df = df_price.copy()
test_df.loc[:,'datetime'] = pd.to_datetime(test_df.datetime)
test_df.set_index('datetime', inplace=True)
test_df = test_df.loc[test_df.index > pd.to_datetime("2016-01-01"),:]

In [7]:
test_df.head()

                        open     high      low    close  volume
datetime
2016-01-04 17:00:00  10460.0  10485.0  10460.0  10470.0   443.0
2016-01-04 17:01:00  10472.5  10472.5  10467.5  10472.5   160.0
2016-01-04 17:02:00  10470.0  10470.0  10455.0  10460.0   242.0
2016-01-04 17:03:00  10457.5  10460.0  10435.0  10435.0   344.0
2016-01-04 17:04:00  10432.5  10450.0  10432.5  10435.0   497.0

#### Testing the Volume Bar Function

In [0]:
newdf.head(10)